@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Mono:wght@600&display=swap');

#cabecalho {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    color:white;
    background-color: 		rgb(184, 228, 220);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
}

.demais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    background-color: rgb(252, 174, 129);
    padding: 10px;
    border-radius: 5px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    background-image: url(./backgroundggg.png);
    background-size: contain;
    font-family: 'DM Serif Display', serif;
    height: 800px;
    background-repeat: no-repeat;
}

.p1 {
    width: 300px;
    font-size: 50px;
    color: white;
}

.p2 {
    width: 300px;
    font-size: 30px;
    color: white;
}

.imagemdog {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.quadrado {
    margin: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 19px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(252, 174, 129);
    border-radius: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    transition: 1s;
}

.dados {
    display: flex;
    flex-flow: column nowrap;
}

.imagens {
    width: 200px;
    height: auto;
}

@media (max-width: 700px) {

    #cabecalho {
        height: auto;
    }

    h2 {
        display: none;
    }
    
    .apresentacao {
        display: none;
    }

    a {
        padding: 20px;
    }

    .demais {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    }

    #container {
        display: flex;
        flex-flow: column nowrap;
    }

}

#cabecalho > h2:hover {
    font-size: 50px;
}

.home:hover {
    color:rgb(238, 205, 176);
}

.sobre:hover {
    color:rgb(238, 205, 176);
}

.contato:hover {
    color:rgb(238, 205, 176);
}

.quadrado:hover {
    background-color: rgb(184, 228, 220);
}
